{% extends 'base.html' %}
{% block menu %}
{% include 'menuAdmin.html' %}
{% endblock %}
{% block conteudo %}
    <div id="wrapper" style="margin-top:-20px;">
        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <p href="#">
                        {{user.first_name}}
                    </p>
                </li>
                <li>
                    <a href="{% url 'core.views.subIndexUsers' %}">Usuários</a>
                </li>
                <li>
                    <a href="{% url 'core.views.subIndexVehicles' %}">Veículos</a>
                </li>
                <li>
                    <a href="{% url 'core.views.subIndexTravels' %}">Viagens</a>
                </li>
		<!--<li>
                    <a href="#">Solicitar Viagem</a>
                </li>-->
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        {% block especifico %}

                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->
    </div>
{% endblock %}